body {
    background-color: slateblue;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif
}

nav {
    background-color: #00000f;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: steelblue;
}

.active {
    background-color: slateblue;
    font-weight: bold;
}