body {
    background-color: slateblue;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    background-color: #00000f;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul>li:not(.active)>a:hover {
    background-color: steelblue;
    color: white;
    text-decoration: none;
}

nav>ul>li:not(.active)>a:visited:hover {
    background-color: steelblue;
    color: white;
    text-decoration: none;
}

nav>ul>li>a:visited {
    color: white;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: white;
    text-decoration: none;
}

nav>ul>li>a:visited:hover {
    color: white;
    text-decoration: none;
}

nav>ul>li>a:active {
    color: white;
    text-decoration: none;
}

nav>ul>li>a:visited:active {
    color: white;
    text-decoration: none;
}

a:link {
    color: aqua;
    text-decoration: none;
}

a:visited {
    color: salmon;
    text-decoration: none;
}

a:link:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited:hover {
    color: salmon;
    text-decoration: underline;
}

.active {
    background-color: slateblue;
    font-weight: bold;
    text-decoration: none;
}

.container {
    margin-top: 20px;
    padding:30px;
    height: 1500px;
}

footer {
    text-align:center;
}